{% extends 'common/base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}">
    <script src="{{ url_for('static', filename='js/user/register.js') }}"></script>
{% endblock %}
{% block page_content %}
{#        {{ wtf.quick_form(form) }}#}
    <form method="post" class="form" enctype="multipart/form-data" >

        {{ form.hidden_tag() }}
        <div class="form-group required">
            {{ form.username.label(class="control-label") }}
            {{ form.username(class="form-control form_style") }}
        </div>
        <div class="form-group required">
            {{ form.password.label(class="control-label") }}
            {{ form.password(class="form-control form_style") }}
        </div>
        <div class="form-group required">
            {{ form.password_confirm.label(class="control-label") }}
            {{ form.password_confirm(class="form-control form_style") }}
        </div>
        <div class="form-group required">
            {{ form.email.label(class="control-label") }}
            {{ form.email(class="form-control form_style") }}
        </div>
        <div class="form-group required">
            {{ form.verify_code.label(class="control-label") }}
             <label class="control-label"><img id='verifyCode' src="{{ url_for('user.verifyCode')}}"></label>
            <fresh id='freshCode'>看不清？点击刷新</fresh>
            {{ form.verify_code(class="form-control form_style") }}
        </div>
        <div class="form-group required">
            {{ form.icon.label() }}
            {{ form.icon() }}
        </div>
        {{ form.submit(class="btn btn-info submit") }}
    </form>

{% endblock %}